{% load static  %}
<!doctype html>
<html>
    <head><title>Create | TodoList</title></head>
    <body>
        <main>
            <div>
                <h1>Create a new list</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button>Submit</button>
                </form>
            </div>
        </main>
    </body>
</html>
