{% load static %}
<!doctype html>
<html>
    <head><title>Lists</title>
        <header><a href="{% url "todo_list_list" %}">Home</a>
    <body>
        <main>
            <div>
                <h1>{{ showsteps.name }}</h1>
                <a href="{% url "todo_list_update" showsteps.id %}">Edit</a>
                <h2>Tasks<h2>
            </div>
            <div>
                <table>
                    <thead>
                        <tr>
                            <th>Task</th>
                            <th>Due Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tasks in showsteps.lists.all %}
                            <tr>
                                <td>{{ tasks.task }}</td>
                                <td>{{ tasks.due_date|date:"d M Y" }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>
