{% load static %}

<!doctype html>
<html>
    <head>
        <title>TodoList</title>
    </head>
    <body>
        <main>
            <div>
                <h1>My Lists</h1>
                <p>
                    <a href="{% url 'todo_list_create' %}">Create</a>
                </p>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of items</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for todo in list_object %}
                            <tr>
                                <td>
                                    <a href="{% url 'todo_list_detail' todo.id %}">{{ todo.name }}</a>
                                    <td>{{todo.lists.all.count}}</td>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>
